@import "global";
.skills__content {
  background-color: $container-color;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem 4rem;
  border-radius: 1.25rem;
  margin-left: 1rem;
  margin-right: 1rem;
  .skills__title {
    font-size: $normal-font-size;
    font-weight: $font-medium;
    text-align: center;
    margin-bottom: 1.5rem;
  }

  .skills__box {
    display: flex;
    justify-content: center;
    column-gap: 2.5rem;
    .skills__group {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      row-gap: 2rem;

      .skills__data {
        display: flex;
        column-gap: 0.5rem;
        align-items: center;
        margin-left: 35%;

        .skills__name {
          font-size: $normal-font-size;
          font-weight: $font-normal;
          line-height: 18px;
          text-wrap: nowrap;
        }

        .skills__level {
          font-size: $tiny-font-size;
        }
      }
    }
  }

  @media screen and (max-width: $max_mobile) {
    .skills__content {
      .skills__box {
        .skills__group {
          grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        }
      }
    }
  }

  @media screen and (max-width: 576px) {
    .skills__content {
      .skills__box {
        .skills__group {
          grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
          column-gap: 1.5rem;

          .skills__data {
            margin-left: 20%;
          }
        }
      }
    }
  }
  @media screen and (max-width: 350px) {
    .skills__content {
      .skills__box {
        .skills__group {
          grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        }
      }
    }
  }
}
