/* You can add global styles to this file, and also import other style files */
@import "./assets/scss/styles.scss";
@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: $normal-font-size;
  background-color: $body-color;
  color: $text-color;
}

h1,
h2,
h3 {
  color: $title-color;
  font-weight: $font-semi-bold;
}
.section {
  padding: 6rem 0 2rem;
}
.section__title {
  font-size: $h1-font-size;
  color: $title-color;
}
.section__subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: 4rem;
}
.section__title,
.section__subtitle {
  text-align: center;
}

.system__grid {
  display: grid;
  gap: 1.5rem;
}

.container {
  max-width: 968px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: $max_mobile) {
  .container {
    padding: 0 0.75rem;
  }
  .section {
    padding: 2rem 0 4rem;
  }
  .section__subtitle {
    margin-bottom: 3rem;
  }
}

@media screen and (max-width: $max_small_mobile) {
  .container {
    padding: 0 0.5rem;
  }
}
