/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@import "./assets/scss/styles.scss";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

@custom-variant dark (&:where(.dark, .dark *));

/* BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body{
  font-family: "Poppins", sans-serif;
  font-size: $normal-font-size;
}

/* REUSABLE CSS CLASSES */
.section {
  padding: 6rem 0 2rem;
}
.section__title {
  font-size: $h1-font-size;
  color: $title-color;
}
.section__subtitle {
  display: block;
  font-size: $small-font-size;
  margin-bottom: 4rem;
}
.section__title,
.section__subtitle {
  text-align: center;
}



.container {
  @media screen and (max-width: $max_mobile) {
    padding: 0 0.75rem;
  }

  @media screen and (max-width: $max_small_mobile) {
    padding: 0 0.5rem;
  }
}
